html,
body {
  height: 100%;
}

body {
  color: #212226;
}
h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: "Raleway", sans-serif;
}

p {
  font-family: "Open Sans", sans-serif;
  font-size: 13px;
  font-weight: 400;
  line-height: 24px;
}
section {
  background: #fff;
  overflow: hidden;
}

#preloader {
  background-color: #fff;
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  z-index: 9999;
}
#status {
  background-image: url("../img/preloader/preloader.gif");
  background-repeat: no-repeat;
  width: 70px;
  height: 70px;
  position: absolute;
  left: 50%;
  top: 50%;
  margin-top: -35px;
  margin-left: -35px;
}

/* Home */
#home {
  background: none;
  height: 100%;
}
#home-bg-video {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translateX(-50%) translateY(-50%);
  -webkit-transform: translateX(-50%) translateY(-50%);
  -moz-transform: translateX(-50%) translateY(-50%);
  -ms-transform: translateX(-50%) translateY(-50%);
  -o-transform: translateX(-50%) translateY(-50%);
  min-width: 100%;
  min-height: 100%;
  width: auto;
  height: auto;
  z-index: -1;
  background: url("../video/solo.jpg") no-repeat;
  background-size: cover;
}
#home-overlay {
  background-color: rgba(0, 0, 0, 0.8);
  width: 100%;
  height: 100%;
  position: fixed;
  top: 0;
  z-index: -1;
}

#home-content {
  width: 100%;
  height: 100%;
  display: table;
}
#home-content-inner {
  display: table-cell;
  vertical-align: middle;
}
#home-heading h1 {
  color: #fff;
  font-size: 65px;
  font-weight: 100;
  text-transform: uppercase;
  margin: 0;
  display: inline-block;
}

#home-heading h1 span {
  color: #f4c613;
  font-weight: 500;
}
#home-text p {
  color: #fff;
  font-size: 17px;
  font-weight: 100;
  margin: 8px 0 30px 0;
}

.btn-general {
  font-family: "Raleway", sans-serif;

  border-radius: 28px;
  -webkit-border-radius: 28px;
  -moz-border-radius: 28px;
  -ms-border-radius: 28px;
  -o-border-radius: 28px;
  font-size: 13px;
  text-transform: uppercase;
  margin: 0 6px;
  padding: 12px 46px 12px 46px;
  transition: all 0.5s;
  -webkit-transition: all 0.5s;
  -moz-transition: all 0.5s;
  -ms-transition: all 0.5s;
  -o-transition: all 0.5s;
}
.btn-home {
  color: #fff;
  border: #fff 1px solid;
}
.btn-home:focus,
.btn-home:hover {
  color: #fff;
  background-color: #f4c613;
  border: 1px solid #f4c613;
}

#arrow-down {
  position: absolute;
  left: 50%;
  bottom: 20px;
  color: #fff;
  font-size: 32px;
  width: 32px;
  height: 32px;
  text-align: center;
  margin-left: -16px;
  z-index: 1;
}
#arrow-down:hover,
#arrow-down:focus {
  color: #f4c613;
}

#about-02 {
  background-color: #f4f4f4;
}

.about-item {
  background-color: #fff;
  padding: 80px 30px;
  -webkit-box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.about-item i {
  font-size: 42px;
  margin: 0;
}

.about-item h3 {
  font-size: 24px;
  margin-bottom: 10px;
}

.about-item hr {
  width: 45px;
  height: 3px;
  background-color: #f4c613;
  margin: 0 auto;
  border: none;
}

.about-item p {
  margin-top: 20px;
}

/* Hover state */

.about-item:hover {
  background-color: #f4c613;
}

.about-item:hover i,
.about-item:hover h3,
.about-item:hover p {
  color: #fff;
}

.about-item:hover hr {
  background-color: #fff;
}

.about-item:hover i {
  transform: translateY(-20px);
}

/* Smooth transition */

.about-item,
.about-item i,
.about-item hr {
  -webkit-transition: all 400ms ease-in-out;
  transition: all 400ms ease-in-out;
}
.about-item h3,
.about-item p {
  -webkit-transition: all 400ms linear;
  transition: all 400ms linear;
}

.content-box-lg {
  padding: 120px 0;
}

.content-box-md {
  padding: 100px 0;
}

/* ==========================================================
                Vertical / Horizontal Heading 
============================================================= */

.vertical-heading h5 {
  color: #f4c613;
  font-size: 14px;
  font-weight: 500;
  text-transform: uppercase;
  word-spacing: 9px;
  display: inline-block;
  transform: rotate(-90deg);
  -webkit-transform: rotate(-90deg);

  position: relative;
  top: 60px;
  left: -63px;
}

.vertical-heading h2 {
  margin: 0 0 0 35px;
}
.vertical-heading h2,
.horizontal-heading h2 {
  font-size: 42px;
  font-weight: 100;
  line-height: 45px;
}

.horizontal-heading {
  margin-bottom: 80px;
}

.horizontal-heading h5 {
  font-size: 16px;
  color: #f4c613;
  text-transform: uppercase;
  display: inline-block;
  margin-bottom: 10px;
}

.horizontal-heading h2 {
  margin: 0;
}

/* ==========================================================
                Vertical / Horizontal Heading Ends
============================================================= */

#about-right p:first-child {
  margin-bottom: 30px;
}
#about-bottom {
  margin-top: 60px;
}
#about-bottom img {
  margin: 0 auto;
}

/* =========================================
                Team
============================================ */

#team-left .vertical-heading {
  min-height: 160px;
}

.team-member {
  margin: 8px;
  position: relative;
}

.team-member-overlay {
  background-color: rgba(33, 34, 38, 0.9);
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  overflow: hidden;
  opacity: 0;
  -webkit-transition: all 300ms linear;
  transition: all 300ms linear;
}

.team-member-info {
  width: 100%;
  height: 100%;
  padding: 80px 0;
}

.team-member-info h6 {
  color: #f4c613;
  font-size: 16px;
  margin: 0;
}

.team-member-info p {
  color: #fff;
}

.team-member:hover .team-member-overlay {
  opacity: 1;
}

/* =========================================
              Social Icons
============================================ */

ul.social-list {
  padding: 0;
  margin-top: 20px;
}

ul.social-list li {
  display: inline-block;
  padding: 0;
}

ul.social-list li a {
  width: 35px;
  height: 35px;
  display: inline-block;
  line-height: 35px;
  color: #fff;
  border-radius: 50%;
  -webkit-transition: all 400ms linear;
  transition: all 400ms linear;
}

ul.social-list li:nth-child(1) i:hover {
  border-color: transparent;
}

ul.social-list li:nth-child(2) i:hover {
  border-color: transparent;
}

ul.social-list li:nth-child(3) i:hover {
  border-color: transparent;
}

/* =========================================
              Slider Buttons
============================================ */

.owl-theme .owl-nav [class*="owl-"] {
  color: #212226;
  font-size: 40px;
  background: none;
  margin: 0;
}

.owl-theme .owl-nav [class*="owl-"]:hover {
  background: none;
  color: #212226;
}

/* =========================================
              Skills
============================================ */

.skill {
  margin-bottom: 20px;
}

.skill h4 {
  line-height: 62px;
  margin: 0;
  font-weight: normal;
}
.progress {
  height: 25px;
  border-radius: 0;
  background: #efefef;
  overflow: visible;
}

.progress-bar {
  background-color: #f4c613;
  position: relative;
}

.progress-bar span {
  font-size: 11px;
  font-weight: 100;
  font-family: "open Sans", "sans-serif";
  background: #212226;
  padding: 3px;
  position: absolute;
  left: 97%;
  top: -47px;
}

.progress-bar span:before {
  content: "";
  border-top: 8px solid #212226;
  border-left: 6px solid transparent;
  border-left: 6px solid transparent;
  position: absolute;
  bottom: -8px;
  left: 23%;
}

/* =========================================
                Statement
============================================ */

#statement {
  background: url("../img/tech/tech-statement.jpg") no-repeat fixed center;
  background-size: cover;
}

#statement .content-box-lg {
  background: rgba(0, 0, 0, 0.3);
}

#tech-statement h3 {
  color: #fff;
  font-size: 28px;
  line-height: 45px;
}

#tech-statement p {
  font-size: 14px;
  color: #f4c613;
  font-family: "Raleway", sans-serif;
  margin-top: 8px;
}

/* =========================================
                Services 01
============================================ */

#services-01 img {
  margin: 60px 0;
}

.service {
  margin: 35px 0;
}

.service .icon {
  font-size: 42px;
  margin: 0;
  -webkit-transition: all 400ms linear;
  transition: all 400ms linear;
}

.service:hover .icon {
  color: #f4c613;
  -webkit-transform: translateX(-20px);
  transform: translateX(-20px);
}

.service h5 {
  font-size: 12px;
  text-transform: uppercase;
  color: #f4c613;
  margin: 0 0 6px 0;
}

.service:hover h5 {
  color: #212226;
}

.service h4 {
  font-size: 24px;
  margin: 0 0 8px 0;
}

.service p {
  line-height: normal;
}


/* =========================================
                Services 02 (Responsive Tabs)
============================================ */

#services-02 {
  background: #f4f4f4;
}

#responsiveTabsDemo ul {
  margin-bottom: 40px;
}

#responsiveTabsDemo ul li {
  padding: 5px 30px;
}

#responsiveTabsDemo ul li a {
  font-family: "Raleway", sans-serif;
  font-size: 13px;
  color: #212226;
  text-transform: uppercase;
  font-weight: 400;
  padding: 0;
  text-decoration: none;
}


/* Tab active state */

#responsiveTabsDemo ul li.r-tabs-state-active a {
  color: #f4c613;
  font-weight: 700;
  border-bottom: 3px solid #f4c613;
  padding-bottom: 5px;
  -webkit-transition: border-color 300ms linear;
  transition: border-color 300ms linear;
}

.service-tab .col-md-6 {
  padding: 0;
}

.service-tab img {
  width: 100%;
  margin: 0 auto;
}

.service-tab .tab-bg {
  background: #fff;
  padding: 59px 30px;
  min-height: 481px;
}

.service-tab h2 {
  font-size: 48px;
  color: #bbb;
  margin-bottom: 20px;
  font-weight: 100;
}

.service-tab h3 {
  font-size: 32px;
  margin-bottom: 30px;
}

.service-tab p {
  line-height: 24px;
  margin-bottom: 30px;
}




/* =========================================
                Portfolio
============================================ */

#portfolio {
  padding-bottom: 160px;
}

#portfolio .vertical-heading {
  margin-bottom: 50px;
}

.row.no-gutters [class*=col-] {
  padding: 0;
}

.portfolio-item {
  overflow: hidden;
  position: relative;
}


/* Filters CSS */

#isotope-filters {
  margin-bottom: 10px;
  padding: 20px 25px 20px 0;
}

#isotope-filters button {
  font-family: "Raleway", sans-serif;
  font-size: 12px;
  font-weight: 700;
  text-transform: uppercase;
  background: transparent;
  -webkit-box-shadow: none;
  box-shadow: none;
  padding-right: 35px;
  outline: 0;
}

#isotope-filters button span {
  display: block;
  padding-bottom: 5px;
  -webkit-transition: border-color .4s ease-in-out;
  transition: border-color .4s ease-in-out;
}

#isotope-filters button.active span {
  color: #f4c613;
  border-bottom: 3px solid #f4c613;
}


/* Zoom Effect */

.portfolio-item img {
  width: 100%;
  height: auto;
  -webkit-transition: -webkit-transform .5s ease;
  transition: -webkit-transform .5s ease;
  transition: transform .5s ease;
  transition: transform .5s ease, -webkit-transform .5s ease;
}

.portfolio-item:hover img {
  -webkit-transform: scale(1.1);
  transform: scale(1.1);
}

